@model Lanche

<div class="row">
    <div class="col-12">
        <p><img src="@Model.ImagemUrl" class="img-fluid" style="width: 200px; height: 200px;"></p>
        
        <a asp-controller="Lanche" asp-action="Details" asp-route-lancheid="@Model.LancheId" class="text-black" style="text-decoration: none;"><h3>@Model.Nome</h3></a>
        <h5>Preço : @Model.Preco.ToString("c")</h5>
        <p>@Model.DescricaoCurta</p>
        <div>
            <p class="button">
                <a class="btn btn-success" id="cartButton-@Model.LancheId" asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra" asp-route-Lancheid="@Model.LancheId">Adicionar</a>
                <a class="btn btn-danger" id="cartButton-@Model.LancheId" asp-controller="CarrinhoCompra" asp-action="MenosUmQuantidade" asp-route-Lancheid="@Model.LancheId">Remover</a>
            </p>
        </div>
    </div>

</div>
<script src="~/js/site.js"></script>





@*    <div class="col-sm-4 col-md-4 col-lg-4">
      <p><img src="@Model.ImagemUrl" class="img-fluid"></p>
      <h3>Preço : @Model.Preco.ToString("c")</h3>
      <h4>@Model.Nome</h4>
      <p>@Model.DescricaoCurta</p>
   </div>

 *@