@model CarrinhoCompraViewModel
@if (Model.CarrinhoCompra.CarrinhoCompraItens.Count > 0)
{
    <h3 class="align-content-center ">No carrinho</h3>
    @foreach (var iten in Model.CarrinhoCompra.CarrinhoCompraItens)
    {
        <div class="col-8 align-content-center ">
            <a asp-controller="CarrinhoCompra" asp-action="Index" class="text-black">
                <span><img src="@iten.Lanche.ImagemUrl" class="img card-img" /></span>
                <p> Quantidade: @iten.Quantidade R$ @(iten.Lanche.Preco * iten.Quantidade) </p>
                <div class="btn-group">
                    <a class="btn btn-success" id="cartButton-@iten.Lanche.LancheId" asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra" asp-route-Lancheid="@iten.Lanche.LancheId">+</a>
                    <a class="btn btn-danger" asp-controller="CarrinhoCompra" asp-action="MenosUmQuantidade" asp-route-Lancheid="@iten.Lanche.LancheId">-</a>
                </div>
            </a>

        </div>

    }
}
